@font-face {
  font-family:"SFProDisplay";
  src:url("fonts/SFProDisplay-Regular.eot");
  src:local("☺"), 
      url("../fonts/SFProDisplay-Regular.woff") 
      format("woff"), 
      url("../fonts/SFProDisplay-Regular.ttf") 
      format("truetype"), 
      url("../fonts/SFProDisplay-Regular.svg") 
      format("svg");
  font-weight:400;
  font-style:normal;
}

body, h1, h2, h3, h4, h5, h6, p, a, button, input, textarea {
  font-family: "SFProDisplay";
}

a {
  text-decoration: none;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --aqua-color: #25A9FA;
  --blue-color-1: #2C87BF;
  --blue-color-2: #0D5E90;
  --blue-color-3: #4F52FF;
  --text-color-1: #222222;
  --text-color-2: #555555;
  --text-color-3: #444444;
  --text-color-4: #9F9F9F;
  --line-color-1: #E0E0E0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* HEADER */
header {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.header__container {
  padding: 30px 0 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container_items {
  display: flex;
}
.header__logo a{
  display: flex;
}

.logo {
  margin: 0 10px 0 0;
}

.logo_slogan {
  color: var(--text-color-1);
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.header__container_items .menu {
  margin: 0 20px 0 0;
  align-self: center;
}

.header__container_items .header__whatsapp {
  margin: 0 40px 0 0;
  align-self: center;
}

.header__container_items .header__login {
  align-self: center;
}

.menu ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li{
  list-style: none;
  margin: 0 35px;
}

.menu ul li a{
  color: var(--text-color-1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}

.header__whatsapp p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  margin: 0 0 6px 0;
  text-align: right;
}

.header__whatsapp_items a{
  display: flex;
}

.header__whatsapp_items img {
  margin: 0 10px 0 0;
}

.header__whatsapp_items p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--text-color-1);
}

.header__login a{
  display: flex;
}

.header__login img{
  margin: 0 10px 0 0;
}

.header__login p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-1);
}

/* MAIN */
/* Section 1 */
.main_section {
  margin: 0;
  justify-content: flex-end;
  display: flex;
}

.main_section_left:first-child {
  padding: 100px 0;
  margin: 0 135px 0 0;
}

/* .main_section_left .text_field {
  margin: 0 0 0 82px;
}

.main_section_left .button_field {
  margin: 0 0 0 82px;
} */

.main_section_left h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 130%;
  margin: 0 0 20px 0;
}

.main_section_left span {
  color: var(--aqua-color);
}

.main_section_left p {
  color: var(--text-color-2);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  margin: 0 0 40px 0;
}

.main_section_left .button_field a {
  box-shadow: 0px 10px 20px rgba(37, 169, 250, 0.3);
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.main_section_left .button_field .button_left{
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  background-color: var(--aqua-color);
  color: var(--white-color);
  box-sizing: border-box;
  margin: 0 20px 0 0;
}

.main_section_left .button_field .button_right {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 130%;
  border: 1px solid var(--aqua-color);
  color: var(--aqua-color);
}

.main_section_left:last-child {
  background: url(../img/Rectangle\ 54.jpg) no-repeat;
  background-size: cover;
  flex: 0 0 50%;
}

.main_section_right {
  
}

/* Section 2 */
.about {
  background: url(../img/BG.jpg) no-repeat;
  background-size: cover;
}

.about .content {
  padding: 120px 0 171px 0;
}

.about_header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: var(--white-color);
  margin: 0 0 40px 0;
}

.about_content {
  display: flex;
}

.about_content .text_field {
  margin: 0 30px 0 0;
}

.about_content .text_field p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: var(--white-color);
  margin: 0 0 25px 0;
}

.about_content .image_field img {
  border-radius: 10px;
}

/* Section 3 */
.about2 .content {
  padding: 118.95px 0 105px 0;
}

.about2_header {
  margin: 0 0 40px 0;
}

.about2_header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 130%;
  color: var(--text-color-1);
}

.about2_header h1 span{
  color: var(--blue-color-1);
}

.about2_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
}

.about2_content .first,
.about2_content .second,
.about2_content .third {
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.about2_content .first:hover svg path, .about2_content .first:hover, 
.about2_content .second:hover svg path, .about2_content .second:hover,
.about2_content .third:hover svg path, .about2_content .third:hover {
  padding: 40px;
  background-color: var(--aqua-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  fill: var(--white-color);
  color: var(--white-color);
}

.about2_content .first svg,
.about2_content .second svg,
.about2_content .third svg{
  margin: 0 0 20px 0;
}

/* .about2_content .first img,
.about2_content .second img,
.about2_content .third img{
  margin: 0 0 20px 0;
} */

.about2_content .first h3,
.about2_content .second h3,
.about2_content .third h3{
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
}

.about2_content .first:hover h3,
.about2_content .second:hover h3,
.about2_content .third:hover h3{
  color: var(--white-color);
}

.about2_content .first p,
.about2_content .second p,
.about2_content .third p{
  margin: 0 0 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-2);
}

.about2_content .first:hover p,
.about2_content .second:hover p,
.about2_content .third:hover p{
  color: var(--white-color);
}

/* Section 4 */
.about3 {
  background: url(../img/фон.jpg) no-repeat;
  background-size: cover;
}

.about3 .content {
  padding: 125px 0 150px 0;
}

.about3_header {
  margin: 0 0 40px 0;
}

.about3_header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  color: var(--white-color);
}

.about3_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.about3_content .first,
.about3_content .second,
.about3_content .third {
  display: flex;
  padding: 40px;
  background-color: var(--white-color);
  border-radius: 20px;
  justify-content: center;
}

.about3_content .first img,
.about3_content .second img,
.about3_content .third img{
  margin: 0 20px 0 0;
}

.about3_content .first h4,
.about3_content .second h4,
.about3_content .third h4{
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--text-color-1);
  align-self: center;
}

/* Section 5 */
.discount .content {
  padding: 30px 0 0 0;
}

.discount_content {
  display: flex;
  justify-content: space-between;
}

.discount_content .text_field{
  align-self: center;
}

.discount_content .text_field h1{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: var(--text-color-1);
  margin: 0 0 30px 0;
}

.discount_content .text_field input[type=text],
.discount_content .text_field input[type=tel],
.discount_content .text_field input[type=email]{
  border: none;
  border-bottom: 2px solid var(--line-color-1);
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0 0 30px 0;
}

.discount_content .text_field .tel_email{
  display: flex;
}

.discount_content .text_field .tel_email #phone_number{
  margin: 0 35px 30px 0;
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin: 0 0 30px 0;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-color-1);
}

.checkbox_container a{
  color: var(--aqua-color);
}

.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--aqua-color);
}

.checkbox_container input:checked ~ .checkmark {
  background-color: var(--aqua-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox_container .checkmark:after {
  left: 4.8px;
  top: 1.5px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.discount_content .text_field button {
  background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--white-color);
  padding: 12px 60px;
  border: none;
  cursor: pointer;
}

/* Section 6 */
.rates .content {
  padding: 120px 0;
}

.rates_header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  margin: 0 0 40px 0;
}

.swiper-container1 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 30px 0;
  z-index: 1;
}

.swiper-container1 .swiper-slide {
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container1 .swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}

.swiper_header {
  padding: 40px 86px 43px 86px;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
  max-width: 370px;
}

.swiper_header.color2{
  padding: 40px 86px 43px 86px;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header.color3{
  padding: 40px 86px 43px 86px;
  background: #EB5757;
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header.color4{
  padding: 65px 77px;
  background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header.color5{
  padding: 65px 77px;
  background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header.color6{
  padding: 65px 81px;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header.color7{
  padding: 65px 81px;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
  border-radius: 20px 20px 0px 0px;
}

.swiper_header h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 37px;
  line-height: 100%;
  color: var(--white-color);
  margin: 0 0 15px 0;
  text-align: center;
}

.swiper_header h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: var(--white-color);
  text-align: center;
}

.swiper_header.color4 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: var(--white-color);
  text-align: center;
}

.swiper_header.color5 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: var(--white-color);
  text-align: center;
}

.swiper_header.color6 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: var(--white-color);
  text-align: center;
}

.swiper_header.color7 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: var(--white-color);
  text-align: center;
}

.swiper_content {
  background: var(--white-color);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  padding: 30px 40px;
}
.swiper_content.item6 {
  background: var(--white-color);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  padding: 30px 40px 78px 40px;
}
.swiper_content.item7 {
  background: var(--white-color);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  padding: 30px 40px 29px 40px;
}

.swiper_price {
  margin: 0 0 43px 0;
}

.swiper_price_item {
  display: flex;
  margin: 0 0 20px 0;
}

.swiper_price_item_header {
  margin: 0 0 20px 0;
}

.swiper_price_item_header p{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
}

.swiper_price_item_header.item6 hr{
  width: 100%;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border: none;
}

.swiper_price_item_header.item7 hr{
  width: 100%;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border: none;
}

.swiper_price_item img {
  width: 18px;
  height: 13.22px;
  align-self: center;
  margin: 0 15px 0 0;
}

.swiper_price_item p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
}

.slide_struct {
  width: 353px;
  margin: 0 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: -24px;
}

.swiper-button-next {
  right: -24px;
}

.swiper-button-prev2 {
  left: -31px;
}

.swiper-button-next2 {
  right: -31px;
}

.swiper-button-prev3 {
  left: -9px;
}

.swiper-button-next3 {
  right: -9px;
}

.swiper-button-prev4 {
  left: -26px;
}

.swiper-button-next4 {
  right: -26px;
}

.swiper-button-next2, .swiper-button-prev2,
.swiper-button-next3, .swiper-button-prev3,
.swiper-button-next4, .swiper-button-prev4 {
  position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

/* .swiper-button-prev2, .swiper-container-rtl .swiper-button-next2 {
  left: 10px;
  right: auto;
}

.swiper-button-prev4, .swiper-container-rtl .swiper-button-next4 {
  left: 10px;
  right: auto;
}

.swiper-button-next2, .swiper-container-rtl .swiper-button-prev2 {
  right: 10px;
  left: auto;
}

.swiper-button-next4, .swiper-container-rtl .swiper-button-prev4 {
  right: 10px;
  left: auto;
} */

.swiper_btn-left {
  position: relative;
  top: 325px;
}
.swiper_btn-right {
  position: relative;

  bottom: 325px;
}

.swiper_btn-left2 {
  position: relative;

  top: 160px;
}
.swiper_btn-right2 {
  position: relative;

  bottom: 204px;
}

.swiper_btn-left3 {
  position: relative;
  top: 136px;
  display: none;
}
.swiper_btn-right3 {
  position: relative;
  bottom: 172px;
  display: none;
}

.swiper_btn-left4 {
  position: relative;
  top: 135px;
}
.swiper_btn-right4 {
  position: relative;

  bottom: 180px;
}

.old_price {
  padding: 5px 15px;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color2 {
  padding: 5px 15px;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color3 {
  padding: 5px 15px;
  background: #EB5757;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color4{
  padding: 5px 15px;
  background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color5 {
  padding: 5px 15px;
  background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color6 {
  padding: 5px 15px;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}
.old_price.color7 {
  padding: 5px 15px;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 30px auto 15px auto;
  max-width: 75px;
}

.old_price p{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: var(--white-color);
}

.old_price .summa {
  margin: 0 8px 0 0;
  text-decoration: line-through;
}

.new_price {
  display: flex;
}

.new_price .price_name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  margin: 0 15px 0 0;
  align-self: center;
}

.new_price .summa {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  margin: 0 5px 0 0;
}

.new_price .currency {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.slide_struct .a_color1{
  position: absolute;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color2{
  position: absolute;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color3{
  position: absolute;
  background: #EB5757;
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color4{
  position: absolute;
  background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color5{
  position: absolute;
  background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color6{
  position: absolute;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}
.slide_struct .a_color7{
  position: absolute;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 22%;
  cursor: pointer;
}

/* Section 7 */

.services {
  background: url(../img/фон.jpg) no-repeat;
  background-size: cover;
}

.services .content {
  padding: 154px 0 119px 0;
}

.services_header h1 {
  margin: 0 0 40px 0;
  color: var(--white-color);
}

.swiper-container2 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 30px 0;
  z-index: 1;
}

.swiper-container2 .swiper-slide {
  
}


.swiper-button-prev2::after,
.swiper-button-next2::after {
  display: none;
}

.swiper_btns2 {
  position: relative;
  margin: 0 -75px 0 -75px;
  top: 105px;
}

.slide_struct2 {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  margin: 0 15px;
  flex-direction: column;
  min-height: 270px;
}

.slide_struct2 img {
  max-width: 60px;
  margin: 0 0 20px 0;
}

.slide_struct2 h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 15px 0;
}
 
.slide_struct2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-3);
}

/* Section 8 */
.feedback .content {
  padding: 130px 0;
}

.feedback_header {
  margin: 0 0 40px 0;
}

.slide_struct3 {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  margin: 0 15px;
  min-height: 222px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.feedback_comment p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;  
  color: var(--text-color-1);
  margin: 0 0 5px 0;
}

.feedback_info {
  display: flex;
}

.feedback_info img{
  border-radius: 50%;
  margin: 0 10px 0 0;
  max-width: 40px;
}

.feedback_name_status h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--text-color-1);
}

.feedback_name_status a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
}

.swiper-container3 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 30px 0;
  z-index: 1;
}

.swiper-container3 .swiper-slide {
  
}


.swiper-button-prev3::after,
.swiper-button-next3::after {
  display: none;
}

.swiper_btns3 {
  position: relative;
  margin: 0 -75px 0 -75px;
  top: 105px;
}


/* Section 9 */
.teachers {
  background: url(../img/фон.jpg) no-repeat;
  background-size: cover;
}

.teachers .content {
  padding: 140px 0 120px 0;
}

.teachers_header {
  margin: 0 0 40px 0;
}

.teachers_header h1{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  color: var(--white-color);
}

.slide_struct4 {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  margin: 0 15px;
}

.teacher_avatar {
  margin: 0 20px 0 0;
}

.teacher_avatar img {
  border-radius: 5px;
}

.teacher_info h1{
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 20px 0;
}

.teacher_info p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: var(--text-color-1);
  margin: 0 0 20px 0;
}

.teacher_info p span{
  color: var(--text-color-4);
}

.swiper-container4 {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0 30px 0;
  z-index: 1;
}

.swiper-container4 .swiper-slide {
  
}


.swiper-button-prev4::after,
.swiper-button-next4::after {
  display: none;
}

.swiper_btns4 {
  position: relative;
  margin: 0 -75px 0 -75px;
  top: 105px;
}

/* Section 10 */
.contacts .content {
  padding: 120px 0;
}

.contacts_header {
  margin: 0 0 40px 0;
}

.contacts_content {
  display: flex;
  justify-content: space-between;
}

.contacts_info_items a{
  display: flex;
  margin: 0 0 38px 0;
}

.contacts_info_items a img{
  margin: 0 10px 0 0;
  align-self: center;
}

.contacts_info_items a p{
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  color: var(--text-color-1);
  align-self: center;
}

/* Section 11 */
.request {
  background: url(../img/BG\ 2.jpg) no-repeat;
  background-size: cover;
}

.request .content {
  padding: 30px 0 0 0;
}

.request_content {
  display: flex;
  justify-content: space-between;
}

.request_content .text_field{
  align-self: center;
}

.request_content .text_field h1{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: var(--white-color);
  margin: 0 0 30px 0;
}

.request_content .text_field input[type=text],
.request_content .text_field input[type=tel],
.request_content .text_field input[type=email]{
  border: none;
  border-bottom: 2px solid var(--white-color);
  background-color: var(--blue-color-2);
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  width: 100%;
  padding: 0 0 5px 0;
  margin: 0 35px 30px 0;
  color: var(--white-color);
}

.request_content .text_field input[type=text]::placeholder,
.request_content .text_field input[type=tel]::placeholder,
.request_content .text_field input[type=email]::placeholder {
  color: var(--white-color);
}

.request_content .text_field .tel_email{
  display: flex;
}

.request .text_field .tel_email #phone_number{
  margin: 0 35px 30px 0;
}

.request_content .checkbox_container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin: 0 0 30px 0;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: var(--white-color);
}

.request_content .checkbox_container a{
  color: var(--white-color);
}

.request_content .checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.request_content .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--white-color);
}

.request_content .checkbox_container input:checked ~ .checkmark {
  background-color: var(--white-color);
}

.request_content .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.request_content .checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.request_content .checkbox_container .checkmark:after {
  left: 4.8px;
  top: 1.5px;
  width: 3px;
  height: 8px;
  border: solid var(--blue-color-2);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.request_content .text_field button {
  background: var(--white-color);
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--blue-color-2);
  padding: 12px 60px;
  border: none;
  cursor: pointer;
}


/* FOOTER */
footer {
  background-color: var(--blue-color-2);
  border-top: 1px solid var(--blue-color-1);
}

.footer__container {
  padding: 43px 0 40.31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo a{
  display: flex;
}

.logo {
  margin: 0 10px 0 0;
}

.logo_slogan-white {
  color: var(--white-color);
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

.footer__container .menu {
  
}

.footer__container .menu ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.footer__container .menu ul li{
  list-style: none;
  margin: 0 35px;
}

.footer__container .menu ul li a{
  color: var(--white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
}

.developer p{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: right;
  color: var(--white-color);
}

.developer p span{
  font-weight:bold;
}


@media screen and (max-width: 1200px) { 
  .content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 40px;
    background-color: var(--white-color);
    border-radius: 20px;
    justify-content: center;
}

  .main_section_left:first-child {
    padding: 100px 0;
    margin: 0 50px 0 0;
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev2 {
    left: -2px;
  }

  .swiper-button-next2 {
    right: -2px;
  }

  .swiper-button-prev4 {
    left: 0px;
  }
  
  .swiper-button-next4 {
    right: 0px;
  }
}

@media screen and (max-width: 1130px) {
  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 20px;
    justify-content: center;
}
}

@media screen and (max-width: 1024px) { 
  .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 20px;
    justify-content: center;
  }
  
  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev2 {
    left: -2px;
  }

  .swiper-button-next2 {
    right: -2px;
  }

  .swiper-button-prev4 {
    left: -18px;
  }
  
  .swiper-button-next4 {
    right: -18px;
  }
  .swiper_btn-right4 {
    position: relative;
    bottom: 240px;
  }

  .slide_struct .a_color1{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color2{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color3{
    position: absolute;
    background: #EB5757;
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color4{
    position: absolute;
    background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color5{
    position: absolute;
    background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color6{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
  .slide_struct .a_color7{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 29%;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) { 
  .content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 20px;
    justify-content: center;
  }
  
  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev2 {
    left: -2px;
  }

  .swiper-button-next2 {
    right: -2px;
  }

  .swiper-button-prev4 {
    left: -2px;
  }
  
  .swiper-button-next4 {
    right: -2px;
  }
  .swiper_btn-right4 {
    position: relative;
    bottom: 240px;
  }
}

@media screen and (max-width: 768px) { 
  .content {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main_section_left:first-child {
    padding: 100px 0;
    margin: 0 30px 0 30px;
  }

  .main_section_left .button_field {
    display: flex;
  }

  .about_content .image_field img {
    max-width: 350px;
  }

  .slide_struct3 {
    padding: 30px;
    min-height: 286px;
  }

  .about2_content .first, .about2_content .second, .about2_content .third {
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0px 10px 20px rgb(0 0 0 / 5%), 0px 3px 4px rgb(0 0 0 / 10%);
    border-radius: 20px;
  }

  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .about3_content .first img, .about3_content .second img, .about3_content .third img {
    margin: 0;
    min-height: 105px;
    max-width: 100%;
    min-width: 87px;
    max-height: 140px;
    margin: 0 0 15px 0;
  }
  
  .discount_content .image_field  img {
    max-width: 393px;
  }

  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev2 {
    left: -2px;
  }

  .swiper-button-next2 {
    right: -2px;
  }

  .swiper_btn-left3 {
    position: relative;
    top: 136px;
    display: block;
  }
  .swiper_btn-right3 {
    position: relative;
    bottom: 238px;
    display: block;
  }

  .swiper-button-prev4 {
    left: -2px;
  }
  
  .swiper-button-next4 {
    right: -2px;
  }
  .swiper_btn-right4 {
    position: relative;
    bottom: 392px;
  }

  .teachers .content {
    padding: 210px 0 120px 0;
}
  .slide_struct4 {
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    min-height: 670px;
  }

  .teacher_avatar {
    margin: 0;
  }
  
  .teacher_avatar img {
    border-radius: 5px;
    min-width: 100%;
    margin: 0 0 15px 0;
  }

  .request_content .image_field  img {
    max-width: 393px;
  }

  .slide_struct .a_color1{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color2{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color3{
    position: absolute;
    background: #EB5757;
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color4{
    position: absolute;
    background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color5{
    position: absolute;
    background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color6{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }
  .slide_struct .a_color7{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 22%;
    cursor: pointer;
  }

  .swiper_btn-left4 {
    position: relative;
    top: 295px;
  }

}

@media screen and (max-width: 992px) {
  
  .header__container_items {
    display: none;
  }
  .header__container_items2 {
    position: absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--white-color);
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
}

  .header__container_items2 .header__login a{
    justify-content: center;
    margin: 0 0 25px 0;
  }

  .header__container_items2 .menu ul {
    display: block;
  }

  .header__container_items2 .menu ul li{
    margin: 0 0 25px 0;
 }

 .header__container_items2 .menu ul li a{
    font-size: 21px;
  }

  .header__container_items2 .header__whatsapp p{
    text-align: center;
  }

  .header__container_items2 .header__whatsapp_items a {
    justify-content: center;
  }

.menu_burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.menu_burger span,
.menu_burger::before,
.menu_burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--text-color-1);
}
.menu_burger::before,
.menu_burger::after {
    content: "";
}
.menu_burger::before {
    top: 0;
}
.menu_burger::after {
    bottom: 0;  
}
.menu_burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}
.menu_burger.__active span {
    transform: scale(0) translate(0px, -50%);
}
.menu_burger.__active::before {
    top: 50%;
    transform: rotate(-45deg) translate(2px, -50%);
}
.menu_burger.__active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, -50%);
}

.___active {
    top: 96px;
}  
}

@media screen and (max-width: 975px) {
  .about3_content .first, .about3_content .second, .about3_content .third {
    display: flex;
    padding: 18px;
    background-color: var(--white-color);
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
  }

  .about3_content .first img, .about3_content .second img, .about3_content .third img {
    margin: 0;
    min-height: 105px;
    max-width: 100%;
    min-width: 87px;
    max-height: 140px;
    margin: 0 0 15px 0;
}
}

@media screen and (min-width: 993px) {
  .menu_burger {
    display: none;
  }

  .header__container_items2 {
    display: none;
  }
}

@media screen and (max-width: 727px) {
  .header__container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}

@media screen and (max-width: 767px) {
  .content {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 10px;
  }

  header .content {
    max-width: 680px;
  }
  
  .main_section {
    margin: 0;
    justify-content: center;
    display: flex;
  }
  
  .main_section_left:first-child {
    padding: 45px 0;
  }

  .main_section_left:last-child {
    display: none;
  }

  .about .content {
    padding: 75px 0;
  }
  .about_content {
    display: block;
  }

  .about_content .image_field img {
   max-width: 100%;
    
  }

  .about2 .content {
    padding: 40px 0;
  }

  .about3 .content {
    padding: 180px 0 50px 0;
  }

  .rates .content {
    padding: 80px 0;
  }

  .services .content {
    padding: 154px 0 50px 0;
  }

  .feedback .content {
    padding: 70px 0;
  }

  .teachers .content {
    padding: 180px 0 80px 0;
  }

  .contacts .content {
    padding: 80px 0;
  }

  .slide_struct4 {
    min-height: 630px;
  }

  .about2_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
  }

  .about3_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
      row-gap: 25px;
  }

  .discount_content {
    display: block;
    justify-content: space-between;
  }

  .discount_content .image_field img {
    max-width: 100%;
  }

  .contacts_content {
    display: block;
    justify-content: space-between;
  }

  .request_content {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
  }

  .request_content .image_field {
    display: none;
  }

  .slide_struct .a_color1 {
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color2{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color3{
    position: absolute;
    background: #EB5757;
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color4{
    position: absolute;
    background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color5{
    position: absolute;
    background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color6{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }
  .slide_struct .a_color7{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 31%;
    cursor: pointer;
  }

  .contacts_content > img {
    max-width: 100%;
  }

  .footer__container {
    padding: 22px 0;
}
  
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    column-gap: 5px;
    row-gap:  5px;
  }

  .footer__container .menu ul {
    display: flex;
    margin: 0;
    padding: 0 0 0 50px;
    flex-direction: column;
  }

  .footer__container .menu ul li {
    list-style: none;
    margin: 0 0 20px 0;;
  }
}

@media screen and (max-width: 540px) {
  .content {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .swiper-button-prev {
    left: 50px;
  }

  .swiper-button-next {
    right: 50px;
  }

  .swiper-button-prev2 {
    left: -3px;
  }

  .swiper-button-next2 {
    right: -3 px;
  }

  .swiper_btn-left2 {
    position: relative;
  
    top: 160px;
  }
  .swiper_btn-right2 {
    position: relative;
    bottom: 200px;
  }

  .swiper-button-prev4 {
    left: 15px;
  }

  .swiper-button-next4 {
    right: 15px;
  }

  .swiper_btn-right {
    position: relative;
    bottom: 335px;
  }

}

@media screen and (max-width: 575px) {
  .content {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .slide_struct4 {
    border-radius: 20px;
    padding: 15px;
    display: flex;
    margin: 0 15px;
    flex-direction: row;
    min-height: 295px;
  }

  .swiper_btn-left4 {
    position: relative;
    top: 150px;
  }
  .swiper_btn-right4 {
    position: relative;
    bottom: 205px;
  }

  .teacher_avatar {
    margin: 0 20px 0 0;
  }

  .teacher_avatar img {
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .about3_content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.slide_struct .a_color1 {
  position: absolute;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border-radius: 30px;
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color2{
  position: absolute;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color3{
  position: absolute;
  background: #EB5757;
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color4{
  position: absolute;
  background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color5{
  position: absolute;
  background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color6{
  position: absolute;
  background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}
.slide_struct .a_color7{
  position: absolute;
  background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
  border-radius: 30px;  
  padding: 12px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  color: var(--white-color);
  border: none;
  bottom: -4%;
  left: 25%;
  cursor: pointer;
}

  .swiper-button-prev {
    left: 15px;
  }

  .swiper-button-next {
    right: 15px;
  }

  .swiper-button-prev2 {
    left: 0px;
  }

  .swiper-button-next2 {
    right: 0px;
  }

  .swiper_btn-right4 {
    position: relative;
    bottom: 336px;
  }

  .about2_content {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 25px;
    row-gap: 25px;
  }

  .main_section_left .button_field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_section_left .button_field .button_left {
    margin: 0 0 10px 0;
    max-width: 280px;
    font-size: 20px;
  }

  .main_section_left .button_field .button_right {
    max-width: 180px;
    font-size: 20px;
  }

  footer {

  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .footer__logo a {
    display: flex;
    flex-direction: column;
  }

  .footer__logo .logo {
    margin: 0;
  }

  .footer__logo a img{
    max-width: 70px;
    align-self: center;
  }

  .footer__container .menu ul {
    display: flex;
    margin: 0;
    padding: 0 ;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }


  .logo_slogan-white {
    color: var(--white-color);
    margin: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
}
}

@media screen and (max-width: 414px) {
  .content {
    max-width: 390px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .swiper-button-prev2 {
    left: -3px;
  }

  .swiper-button-next2 {
    right: -3px;
  }

  .swiper_btn-left2 {
    position: relative;
  
    top: 160px;
  }
  .swiper_btn-right2 {
    position: relative;
  
    bottom: 200px;
  }

  .swiper-button-prev3 {
    left: -3px;
  }
  
  .swiper-button-next3 {
    right: -3px;
  }

  .swiper_btn-left3 {
    position: relative;
    top: 158px;
    display: block;
  }
  .swiper_btn-right3 {
    position: relative;
    bottom: 217px;
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .content {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .slide_struct4 {
    border-radius: 20px;
    padding: 15px;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    min-height: 295px;
  }
  .teacher_avatar {
    margin: 0;
  } 
  .swiper_btn-left4 {
    position: relative;
    top: 392px;
  }
  .swiper_btn-right4 {
    position: relative;
    bottom: 356px;
  }

  .swiper_header {
    padding: 23px 0px;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    box-shadow: 0px 10px 20px rgb(255 177 164 / 20%);
  }
  
  .swiper_header.color2{
    padding: 23px 0px;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }
  
  .swiper_header.color3{
    padding: 23px 0px;
    background: #EB5757;
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }
  
  .swiper_header.color4{
    padding: 46px 0px;
    background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }
  
  .swiper_header.color5{
    padding: 46px 0px;
    background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }
  
  .swiper_header.color6{
    padding: 46px 0px;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }
  
  .swiper_header.color7{
    padding: 46px 0px;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    box-shadow: 0px 10px 20px rgba(255, 177, 164, 0.2);
    border-radius: 20px 20px 0px 0px;
  }

  .slide_struct .a_color1{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color2{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color3{
    position: absolute;
    background: #EB5757;
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color4{
    position: absolute;
    background: radial-gradient(114.19% 152.8% at 103.02% -2.02%, #2C87BF 0%, #25A9FA 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color5{
    position: absolute;
    background: linear-gradient(180deg, #FFB1A4 0%, #FF7862 100%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color6{
    position: absolute;
    background: linear-gradient(316.71deg, #934781 0.73%, #893976 20.96%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }
  .slide_struct .a_color7{
    position: absolute;
    background: linear-gradient(197.21deg, #4F52FF 1.8%, #4042E2 619.93%);
    border-radius: 30px;  
    padding: 12px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: var(--white-color);
    border: none;
    bottom: -4%;
    left: 19%;
    cursor: pointer;
  }

  .swiper_btn-right {
    position: relative;
    bottom: 296px;
  }

  .slide_struct4 {
    border-radius: 20px;
    padding: 15px;
    display: flex;
    margin: 0 15px;
    flex-direction: column;
    min-height: 295px;
  }

  .main_section_left h1 {
    font-size: 26px;
    margin: 0 0 20px 15px;
  }

  .main_section_left p {
    font-size: 16px;
    margin: 0 0px 40px 16px;
  }

  .request_content .text_field .tel_email {
    display: flex;
    flex-direction: column;
}
}

@media screen and (max-width: 396px) {
  .content {
    max-width: 360px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .slide_struct {
    width: 285px;
    margin: 0 15px;
  }

  .swiper_btn-right {
    position: relative;
    bottom: 361px;
  }

  .swiper_btn-right4 {
    position: relative;
    bottom: 347px;
}
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 280px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .slide_struct {
    width: 285px;
    margin: 0 15px;
  }

  .swiper_btn-left {
    position: relative;
    top: 375px;
 }

  .swiper-button-prev3 {
    left: -3px;
  }
  
  .swiper-button-next3 {
    right: -3px;
  }

  .swiper_btn-left3 {
    position: relative;
    top: 184px;
    display: block;
  }
  .swiper_btn-right3 {
    position: relative;
    bottom: 244px;
    display: block;
  }

  .swiper_btn-left4 {
    position: relative;
    top: 300px;
  }
  .swiper_btn-right4 {
    position: relative;
  
    bottom: 395px;
  }

  .swiper-button-prev4 {
    left: 0px;
  }
  
  .swiper-button-next4 {
    right: 0px;
  }
}

@media screen and (max-width: 280px) {
  .content {
    max-width: 270px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .slide_struct {
    width: 285px;
  }

  .swiper_btn-left {
    position: relative;
    top: 375px;
 }

   .swiper-button-prev3 {
    left: 0px;
  }
  
  .swiper-button-next3 {
    right: 0px;
  }

  .swiper_btn-left3 {
    position: relative;
    top: 184px;
    display: block;
  }
  .swiper_btn-right3 {
    position: relative;
    bottom: 268px;
    display: block;
  }
}